@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap");
body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", sans-serif;
}
#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
  background-color: #233671;
  color: white;
  cursor: pointer;
  font-size: 10px;
  width: 40px;
  height: 40px;
  border: 2px solid #233671;
  text-align: center;
  border-radius: 50%;
  padding: 4px 3px;
}
#backToTop i {
  font-size: 1.3rem;
}
#backToTop:hover {
  background-color: transparent;
  color: #233671;
}
.reveal {
  opacity: 0;
  transform: translateY(50px);
  transition: all 0.6s ease;
}
.reveal.active {
  opacity: 1;
  transform: translateY(0);
} /* Header */
#homePage header {
  background: linear-gradient(to top, rgba(0, 0, 0, 0.73), rgba(0, 0, 0, 0.66)),
    url("../assets/images/banner-bg.webp") no-repeat center center;
  background-size: cover;
  height: 100vh;
}
#homePage header .navbar {
  background: transparent;
}
header .navbar {
  background-color: #233671;
}
.navbar .navbar-brand img {
  max-width: 120px;
}
header h1 {
  font-size: 2rem;
  max-width: 550px;
  margin: 10% auto 0;
  color: #fff;
  text-align: center;
}
header .head-btn {
  width: 100%;
  margin: 1.2rem auto;
  text-align: center;
}
header .head-btn .btn {
  cursor: pointer;
  font-weight: 600;
}
header h4 {
  font-size: 1.2rem;
  max-width: 600px;
  margin: 1.2rem auto 0;
  color: #dbdbdb;
  text-align: center;
}
.container h2 {
  font-size: 1.5rem;
  margin: 1rem 0;
  color: #333;
}
.container p {
  font-size: 1.15rem;
  color: #333;
}
/* Media Queries */
@media screen and (max-width: 1024px) {
}
@media screen and (max-width: 768px) {
  #homePage header {
    height: 65vh;
  }
  .container h2 {
    font-size: 1.2rem;
    margin: 0.6rem 0;
  }
  .container p {
    font-size: 1rem;
  }
} /* Small Devices */
@media screen and (max-width: 480px) {
  header h1 {
    font-size: 1.7rem;
  }
  header h4 {
    font-size: 1.1rem;
  }
}
